# App
PORT=3000
NODE_ENV=development

# Database
POSTGRES_USER=gamelog
POSTGRES_PASSWORD=gamelog
POSTGRES_DB=gamelog
POSTGRES_PORT=5433
DATABASE_URL=postgresql://gamelog:gamelog@localhost:5433/gamelog

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379